body {
background: #fff;
margin: 0px;
font-family: adobe-garamond-pro, serif;
font-style: normal;
color: #444;
}

a {
color: #000;
}

#container {
border-color: rgb(29, 29, 29);
border-style: solid;
border-width: 20px 0px;
background: #d7c69f;
padding: 150px 0px;
text-align: center;
}

@media only screen and (min-width: 401px) and (max-width: 860px) {
#main {
width: 400px;
margin: 0px auto;
padding: 0px 20px;
}
}

@media only screen and (min-width: 861px) {
#main {
width: 600px;
margin: 0px auto;
}
}

.logo {
max-width: 100%;
}

h2 {
font-size: 1.5em;
line-height: 1.4em;
margin: 40px 0px;
font-weight: 700;
color: #000;
}

p {
font-size: 1.2em;
line-height: 1.4em;
font-weight: 400;
}

#notification-sign-up {
padding: 40px 0px;
margin: 0px auto;
display: block;
text-align: center;
}

#input-email {
font-family: adobe-garamond-pro, serif;
font-size: 1.2em;
font-style: italic;
padding: 10px;
margin: 0px 20px 0px 0px;
width: 275px;
background: #fff;
color: #000;
border: none;
}

#button-subscribe {
font-family: adobe-garamond-pro, serif;
font-size: 1.2em;
padding: 10px 30px;
background: #000;
color: #fff;
border: none;
}

@media only screen and (min-width: 401px) and (max-width: 860px) {
#button-subscribe {
margin: 10px 0px 0px 0px;
}
}

.social {
font-style: italic;
}

#mc_embed_signup {
clear:left;
font:14px Helvetica,Arial,sans-serif;
width:100%;
}